<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" src="../../assets/css/style.css" type="text/css" />
	<link rel="stylesheet" href="https://use.typekit.net/xdi4fkm.css">
	<title>Club Social</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://kit.fontawesome.com/8997007773.js" crossorigin="anonymous"></script>
	 <script href="../../assets/js/script.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>

<style href="../../assets/css/style.css">
  .navbar-item {
    margin-right: 50px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .logo {
    font-family: komu-a, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }

  .navbar {
    background-color: rgb(49, 49, 49);
    padding-top: 5px;
    text-align: center;
  }

  body {
    background: url(https://wallpaperaccess.com/full/4212114.jpg);
  }

  .settings {
    font-family: komu-a, sans-serif;
  }

  .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .school-post-title {
    color: white;
    font-size: 20px;
    font-family: komu-a, sans-serif;
  }
</style>
<script type="text/javascript" >

{{!-- Variables --}}

{{!-- Submit Button --}}






</script>
